@model StoreTanPhat.Models.NhanVien

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

        a:hover {
            color: black;
        }
</style>

<div class="card mt-3 border border-primary shadow">
    <h5 class="card-header bg-primary text-white">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm("Create", "NhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TenNhanVien, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TenNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChiNhanVien)
                @Html.EditorFor(model => model.DiaChiNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiNhanVien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NamSinhNhanVien)
                @Html.EditorFor(model => model.NamSinhNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamSinhNhanVien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GioiTinh)
                @Html.DropDownListFor(model => model.GioiTinh, new SelectList(new[] {
                    new SelectListItem {Value = null, Text = "-- Chọn --" },
                    new SelectListItem {Value = "0", Text = "Nam" },
                    new SelectListItem {Value = "1", Text = "Nữ" },
                }, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GmailNhanVien, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.GmailNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GmailNhanVien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenDangNhapNV, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TenDangNhapNV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDangNhapNV, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MatKhauNV, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.MatKhauNV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhauNV, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DuLieuHinhAnh)
                <br />
                @Html.TextBoxFor(model => model.DuLieuHinhAnh, new { @class = "form-control-file", type = "file" })
                @Html.ValidationMessageFor(model => model.DuLieuHinhAnh, "", new { @class = "text-danger" })
                <br />
                @if (ViewBag.Error != null)
                {
                    <p class="badge rounded-pill badge-danger text-white" style="font-size:15px;font-weight:bold">@ViewBag.Error</p>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QuyenNhanVien)
                @Html.DropDownListFor(model => model.QuyenNhanVien, new SelectList(new[] {
                    new SelectListItem {Value = null, Text = "-- Chọn --" },
                    new SelectListItem {Value = "0", Text = "ADMIN" },
                    new SelectListItem {Value = "1", Text = "Nhân Viên" },
                }, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QuyenNhanVien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
