@using StoreTanPhat.Models;
@model IEnumerable<StoreTanPhat.Models.SanPham>
@{
    ViewBag.Title = "KẾT QUẢ LỌC ĐƯỢC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var yeuthich = (List<YeuThich>)ViewBag.YeuThich;
}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <h5>@ViewBag.Title</h5>
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                @using (Html.BeginForm("FitterCateChild", "Home", FormMethod.Post))
                {
                    <!-- Danh Mục -->
                    <!-- /aside Widget -->
                    <!-- Gía tiền -->
                    <!--Thương hiệu-->
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">TOP KHUYẾN MÃI</h3>
                        @if (ViewBag.Products != null)
                        {
                            var list_products = (List<SanPham>)ViewBag.Products;
                            foreach (var item in list_products.OrderByDescending(m => m.GiaKhuyenMai - m.GiaBan).Take(3).ToList())
                            {
                                <div class="product-widget">
                                    <div class="product-img">
                                        <img src="~/@item.HinhAnhDaiDien" alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@item.DanhMucSanPhamCon.DanhMucSanPham.TenDanhMuc</p>
                                        <h3 class="product-name"><a href="@Url.Action("QuickView", "Home", new { id = item.ID_SanPham })">@item.TenSanPham.</a></h3>
                                        <h4 class="product-price">
                                            @item.GiaBan.ToString("N0")đ
                                            @if (item.GiaKhuyenMai != null)
                                            {
                                                <del class="product-old-price">@item.GiaKhuyenMai.Value.ToString("N0")đ</del>
                                            }
                                        </h4>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <span class="text-danger" style="font-weight:bold">KHÔNG CÓ SẢN PHẨM</span>
                        }
                    </div>
                }
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    @if (Model.Count() == 0)
                    {
                        <span style="color:black;font-weight:bold;">Không có sản phẩm nào</span>
                    }
                    else
                    {
                        var products = (List<SanPham>)ViewBag.Products;
                        <!-- product -->
                        foreach (var item in Model)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/@item.HinhAnhDaiDien" alt="" width="500" height="250">
                                        <div class="product-label">
                                            @{
                                                int khuyenmai = (int)(item.GiaKhuyenMai) / item.GiaBan;
                                            }
                                            <span class="sale">-@khuyenmai%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@item.DanhMucSanPhamCon.DanhMucSanPham.TenDanhMuc</p>
                                        <h3 class="product-name"><a href="@Url.Action("QuickView","Home",new { id = item.ID_SanPham})">@item.TenSanPham</a></h3>
                                        <h4 class="product-price">
                                            @item.GiaBan.ToString("N0")đ
                                            @if (item.GiaKhuyenMai != null)
                                            {
                                                <del class="product-old-price">@item.GiaKhuyenMai.Value.ToString("N0")đ</del>
                                            }
                                        </h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            @{
                                                var favorite_sale = yeuthich.Where(m => m.Id_SanPham == item.ID_SanPham).FirstOrDefault();
                                            }
                                            @if (favorite_sale == null)
                                            {
                                                <button onclick="location.href='@Url.Action("AddYeuThich","Home",new{ id = item.ID_SanPham })'" class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu Thích</span></button>
                                            }
                                            else
                                            {
                                                <button onclick="location.href='@Url.Action("DeleteYeuThich", "Home", new { id = favorite_sale.Id_YeuThich })'" class="add-to-wishlist"><i class="fa fa-heart"></i><span class="tooltipp">Bỏ Yêu Thích</span></button>
                                            }
                                            <button onclick="location.href='@Url.Action("QuickView","Home",new{ id = item.ID_SanPham })'" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Chi Tiết</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button onclick="location.href='@Url.Action("AddToCart", "Home", new { id = item.ID_SanPham })'" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <!-- store bottom filter -->
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</div>
<!-- /SECTION -->
