@model IEnumerable<StoreTanPhat.Models.Footer>

@{
    ViewBag.Title = "QUẢN LÝ FOOTER";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    a{
        color :white;
    }
    a:hover
    {
        color :white;
    }
</style>

<div class="card`">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p class="btn btn-primary">
            @Html.ActionLink("Thêm Mới", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenFooter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenFooter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        <!--truyền id qua Hàm Edit-->
                        <a class="btn btn-info text-white" href="@Url.Action("Edit", "Footer", new { id = item.ID_Footer })">Sửa</a> <span>|</span>
                        <!--truyền id qua Hàm Delete-->
                        <a class="btn btn-danger text-white" href="@Url.Action("Delete", "Footer", new { id = item.ID_Footer })">Xóa</a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

